@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 40.26%, #42a5f5 96.03%);
  font-family: "Play", sans-serif;
}

.container {
  background: #e1f5fe;
  color: #212121;
  margin: 45px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #424242;
  padding: 64px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.profile-picture {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px #424242;
}

.title {
  margin-left: 15px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.theme button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #e1f5fe;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}

.portifolio {
  margin-top: 64px;
  display: grid;
  /*grid-template-columns: 2fr 1fr;*/
  gap: 16px;
}

.project {
  display: flex;
  flex-direction: column;
  background: linear-gradient(236.85deg, #42a5f5 40.03%, #041832 96.26%);
  margin-top: 32;
  padding: 32px;
  box-shadow: 0px 4px 4px #424242;
  border-radius: 20px;
}

.project ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.project li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}

.dark {
  background: linear-gradient(236.85deg, #041832 40.03%, #42a5f5 96.26%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .project {
  color: #1c1c1c;
}

.dark .theme button {
  background: #333439;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
}