@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  background: linear-gradient(236.85deg, #041832 40.26%, #42a5f5 96.03%);   font-family: 'Roboto', sans-serif;
}

.container {
  margin: 64px;
  background: #e1f5fe;
  color: #212121;
  border-radius: 20px;
  padding: 64px;
  box-shadow: 6px 6px 6px #424242;
}

.top {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.profile-picture {
  max-width: 160px;
  border-radius: 460px;
  box-shadow: 0px 4px 4px #424242;
}

.title {
  margin-left: 16px;
}

.title h1 {
  font-weight: 700;
  font-size: 36px;
}

.title h3 {
  font-weight: normal;
  font-size: 24px;
}

.theme button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #e1f5fe;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}

.portfolio {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}

.project {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 8px 32px;
  background: linear-gradient(236.85deg, #42a5f5 40.03%, #041832 96.26%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px #424242;
}

.aluraAchievement {
  height: 300px;
  overflow-y: scroll;
  	scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;
  background: linear-gradient(236.85deg, #42a5f5 40.03%, #041832 96.26%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.project ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.project li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}

.aluraAchievement ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.aluraAchievement li {
  list-style-type: none;
}

.aluraAchievement img {
  max-height: 100px
}

.dark {
  background: linear-gradient(236.85deg, #041832 40.03%, #42a5f5 96.26%);
}
  
.dark .container {
  background: #333439;
  color: #F6F6F6;
}

.dark .portfolio {
  color: #1C1C1C;
}

.dark .theme button {
  color:  #f6f6f6;
  background: #333439;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #f6f6f6;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}

::-webkit-scrollbar-thumb{
background: #1C1C1C;
border: 1.8px solid #1C1C1C;
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
background: #ECF4FF;
}

::-webkit-scrollbar-track{
background: #ECF4FF;
border-radius: 100px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
margin: 15px 0px;
}